<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Intellimage</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid bg-light text-dark text-center p-1">
    <div class="container">
        <h1 class="display-4 fw-bold">Intellimage</h1>
        <!-- <p class="lead text-uppercase" style="margin-top: -0.6em">[ view file metadata ]</p> -->
        <p class="lead text-uppercase" style="margin-top: -0.6em">[ view image metadata ]</p>
    </div>
</div>

<form enctype="multipart/form-data" method="post" id="body" class="form form-control">
    <div id="drop" class="container bg-secondary text-light text-center mt-4 p-5 rounded fw-bold">
        <h2 class="display-6">Drop image files here</h2>
        <button id="select" class="btn btn-warning m-4 p-2">or select</button>
        <input id="image" name="image" type="file" hidden>
    </div>

    <div class="container my-4">
        <div class="row">
            <label for="token" class="col-form-label">Image API Token:</label>
            <div class="col-10">
                <input id="token" name="token" class="form-control form-control-lg" type="text" placeholder="token"
                       aria-label="token">
            </div>
            <div class="col-2">
                <button id="send" type="submit" class="btn btn-lg btn-primary col-10">Send</button>
            </div>
        </div>
    </div>
</form>

<script src="//cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

<script type="application/javascript">
    const $ = document.querySelector.bind(document)

    $("#select").addEventListener("click", (e) => {
        e.preventDefault();

        $("#image").click();
    }, false);

    const drop = document.querySelector("#drop");
    ["dragenter", "dragover", "dragleave"].forEach((eventName) => {
        drop.addEventListener(eventName, (e) => {
            e.preventDefault();
        });
    }, false);
    drop.addEventListener("drop", (e) => {
        e.preventDefault();

        const data = e.dataTransfer;
        $("#image").files = data.files;
    }, false);

    $("#send").addEventListener("click", (e) => {
        e.preventDefault();

        fetch("/view", {
            method: "POST",
            body: new FormData($("#body"))
        });
    }, false);

</script>

</body>
</html>